
.navbarContainer{
    background-color: #ffffffff;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:0px 5%;
    font-size: 1.2rem;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 99;
    color:#7064e5;
}

.appName a:hover{
    font-weight: bolder;
    color:rgb(0, 0, 255)
}


.navLinks{
    float: right;
}


.navLinks span {
    margin: 0px 10px;
    cursor: pointer;
}


.navLinks a{
    color:#7064e5;
}


.navLinks a:hover{
    font-weight: bolder;
    color:rgb(0, 0, 255)
}

